.section {
    width: 1280px;
    margin: 0 auto;
    display: flex;
}
/* st_left */
.st_left {
    width: 830px;
}

.st_l_1 {
    width: 830px;
    height: 130px;
}

.st_l_1 img {
    border-radius: 10px;
    width: 830px;
    height: 130px;
}

.st_l_2 {
    border: 1px solid #E3E5E8;
    border-radius: 10px;
    width: 830px;
    height: 425px;
    margin-top: 15px;
}
.st_l_2_text ul {
    padding: 18px 20px;
    display: flex;
}
.st_l_2_text ul li {
    padding-left: 13px;
}
.st_l_2_text ul li:nth-child(2) span:nth-child(2) {
    padding-left: 7px;
}
.st_l_2_text ul li:nth-child(3) span:nth-child(2) {
    padding-left: 7px;
}
.st_l_2_text ul li:nth-child(4) span:nth-child(2) {
    padding-left: 7px;
}

.st_l_2_text ul li span {
    color: rgba(8,8,8,.5);
    font-weight: bold;
    font-size: 16px;
}






.st_l_3 {
    border: 1px solid #E3E5E8;
    border-radius: 10px;
    width: 830px;
    height: 600px;
    margin-top: 15px;
}

.st_l_4 {
    border: 1px solid #E3E5E8;
    border-radius: 10px;
    width: 830px;
    height: 853px;
    margin-top: 15px;
}





/* st_right */
.st_right {
    margin-left: 30px;
    width: 420px;
}

.st_r_1 {
    border: 1px solid #E3E5E8;
    border-radius: 10px;
    width: 420px;
    height: 163px;
}
.st_r_1 .st_r_login {
    width: 380px;
    height: 124px;
    margin: 20px 20px;
}
.st_r_login {
    text-align: center;
}
.st_r_login span {
    font-size: 15px;
    color: #101010;
    font-weight: lighter;
}
.st_r_login_link {
    margin-top: 13px;
}
.st_r_login_link .st_r_login_btn {
    display: block;
    padding: 17px 0;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
    background-color: #03C75A;
    margin-top: 15px;
}

.st_r_login_link .st_r_login_btn img {
    width: 75px;
    height: 14px;
    margin-right: 5px;
}

.st_r_login_link .st_r_login_btn span {
    color: white;
}

.st_r_join  {
    margin-top: 15px;
}

.st_r_join a {
    font-size: 13px;
    color: initial;
    font-weight: lighter;
}

.st_r_join a:nth-child(2):before {
    content: ' \01C0';
    margin: 4px 12px 0;
}
.st_r_join a:nth-child(3):before {
    content: ' \01C0';
    margin: 4px 12px 0;
}





.st_r_2 {
    width: 420px;
    height: 240px;
    margin-top: 15px;
}
.st_r_2 img {
    border-radius: 10px;
}

.st_ws {
    margin: 0 18px;
    height: 236px;
}

.st_r_3 {
    border: 1px solid #E3E5E8;
    border-radius: 10px;
    width: 420px;
    height: 235px;
    margin-top: 15px;
}
.st_r_3_texts {
    border-bottom: 1px solid #e3e5e8;;
    padding: 13px 0;
    display: flex;
}
.st_r_3_texts a {
    color: black;
}

.st_r_3_texts a:nth-child(1) {
    color: #080808;
    font-size: 16px;
    font-weight: 800;
    padding-right: 5px;
}

.st_r_3_texts a:nth-child(2)::before {
    border-radius: 15px;
    border-color: #E3E5E8;
    font-size: 10px;
    width: 12px;
    height: 12px;
}

.st_r_3_texts span {
    padding-left: 160px;
    color: #606060;
    font-size: 14px;
}


.st_r_3_texts a:nth-child(2)::before {
    content: "";
    display: inline-block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
    background-size: 434px 414px;
    background-position: -130px -402px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin: 6px 2px 0 0;
}

.st_r_3_weather {
    width: 384px;
    height: 183px;
}
.st_r_3_img{
    padding-right: 30px;
    padding-top: 10px;
}


.st_r_4 {
    border: 1px solid #E3E5E8;
    border-radius: 10px;
    width: 420px;
    height: 235px;
    margin-top: 15px;
}

.st_r_4_link {
    height: 22px;
}

.st_r_3_texts .st_r_4_btn {
    width: 12px;
    height: 12px;
}

.st_r_3_texts .st_r_4_btn::before {
    content: "";
    display: block;
    background-image: url(../img/sp_main.2b96eea2.png);
    background-size: 434px 414px;
    background-position: -410px -72px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 4px;
    margin-left: 3px;
}

.st_r_3_texts2 {
    height: 22px;
    padding-left: 230px;
    display: flex;
}

.st_r_3_texts2 p {
    color: #606060;
    font-size: 13px;
    padding-right: 3px;
    margin-top: 2px;
}

.st_r_4_btn2::before {
    content: "";
    display: block;
    background-image: url(../img/sp_main.2b96eea2.png);
    background-size: 434px 414px;
    background-position: -141px -381px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.st_r_4_mains {
    border: 1px solid black;
    width: 384px;
    height: 183px;
    display: flex;
}

.st_r_4_main1 {
    border: 1px solid blue;
    width: 50%;
}

.st_r_4_main2 {
    border: 1px solid red;
    width: 50%;
}

.st_r_4_text {
    width: 165px;
    height: 160px;
    border: 1px solid black;
    margin: 9px 0 14px 25px;
}

.st_r_5 {
    background-color: #F4F6FA;
    border: 1px solid #E3E5E8;
    border-radius: 10px;
    width: 420px;
    height: 806px;
    margin-top: 15px;
}

.st_r_5_title {
    color: #080808;
    color: var(--color_title);
    padding-bottom: 1px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
}

.st_r_5_container {
    width: 384px;
    height: 771px;
    border: 1px solid black;
    margin: 15px 18px 20px 18px;
    
}

.st_r_5_divs {
    display: flex;
    flex-wrap: wrap;
}

.st_r_5_div {
    margin-top: 10px;
    border: 1px solid black;
    width: 186px;
    height: 192px;
}

.st_r_5_container2 {

}

.st_last {
    border: 1px solid #E3E5E8;
    border-radius: 10px;
    width: 420px;
    height: 80px;
    margin-top: 15px;
}

.st_last_div {
    border: 1px solid black;
    width: 380px;
    height: 64px;
    margin: 8px 18px;
}